<div class="container softwarexpressllc-text">            
    <div class="row home-title">
        <div class="col-md-12">
            <b>Angular Observables</b>
        </div>
    </div>
    
    <p>Custom ResourceService loaded the following locations at startup:</p>
    <tr *ngFor="let location of this.locations;">
        <td><b>{{location.name}}</b></td>
    </tr>
    <br>
    <p>
        These Locations were loaded from json file. <br>
        Locations are now available in HomeComponent.
    </p>
    <p>The value of the first location was also passed to StatsComponent. Select the STATS menu item to see it.</p>
</div>
