<div class="footer-v1">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 map-img md-margin-bottom-40">
					<p style="margin-bottom: 0px;">
						Tech specialization 
					</p>
					<p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">Java, Angular</p>
                    <p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">Microservices, SpringBoot</p>
                    <p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">Docker, Amazon Web Service (AWS)</p>
                    <p></p>						
				</div>				
				<div class="col-md-4 map-img md-margin-bottom-40">						
					<p style="margin-bottom: 0px;">
						Domain specialization 
					</p>					
					<p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">Software Engineering</p>
					<p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">Smart Grid, Smart City</p>
                    <p style="text-align: left; text-indent: 20px; margin-bottom: 0px;">IoT</p>
                    <p></p>
				</div>
				<div class="col-md-4 map-img md-margin-bottom-40">                    
                    <p style="margin-bottom: 0px;">
						SoftwareXpress LLC 
					</p>					
					<a href="https://www.google.com/maps/place/2+Navajo+Ave/@38.8579324,-104.9199258,17z/data=!3m1!4b1!4m6!3m5!1s0x871350a19a01d37d:0x6d2f7887d82774cb!4b1!8m2!3d38.8579282!4d-104.9177371?authuser=0" target="_blank">
						<p style="text-align: left; text-indent: 20px;">2 Navajo Ave</p>
						<p style="text-align: left; text-indent: 20px;">Manitou Springs, CO 80829</p>
					</a>					
					<p style="text-align: left; text-indent: 20px; margin-bottom: 0px; padding-bottom: 0px;"> Phone: 719-323-0857 (USA)</p>
					<a href="https://www.linkedin.com/in/jkrych/" target="_blank" style="text-align: left; padding-left: 20px; color: white;" class="fa fa-linkedin"></a>
					<a href="https://github.com/krychj" target="_blank" style="text-align: left; padding-left: 15px; color: white;" class="fa fa-github"></a>
					<a href="https://twitter.com/JarekKrych" target="_blank" style="text-align: left; padding-left: 15px; color: white;" class="fa fa-twitter"></a>					
				</div>
			</div>			
		</div>
	</div>		
</div>